.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

.list-container {
    transition: background-color 0.2s ease;
}

.cdk-drop-list-dragging .list-container:not(.cdk-drop-list-receiving) {
    background-color: rgba(243, 244, 246, 0.5);
    /* gray-100 */
}

.cdk-drop-list-receiving {
    background-color: rgba(239, 246, 255, 0.5);
    /* blue-50 */
}

/* Fix cursor styles */
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-placeholder {
    opacity: 0.3;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-container.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}